body{
  width:100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
 font-weight: 300;
}

*{
 outline: none;
}


/*
  --------------------------------------------------------------
  Suggest
  --------------------------------------------------------------
*/

#suggest{
  position: absolute;
  width: 235px;
  left: 71px;
  top: 31px;
  max-height: 100%;
  visibility: hidden;
  z-index: 20;
  background-color: #222326;
  border-bottom: 10px solid #222326;
}

.suggestitem{
  margin-top: 5px;
  margin-left: 10px;
  width: calc(100% - 20px);
  height:50px;
  background-color: #2e2f33;
}

.suggestitem.selected{
  background-color: #456434;
}


.suggestitem:hover{
  background-color: #46484e;
}

.suggestimage:nth-child(1):nth-last-child(4),
.suggestimage:nth-child(2):nth-last-child(3),
.suggestimage:nth-child(3):nth-last-child(2),
.suggestimage:nth-child(4):nth-last-child(1) {
    width: 25px;
    height: 25px;
}

.suggestimagecon{
  float:left;
  height:50px;
  width:50px;
}

.suggestimage{
  height:50px;
  width:50px;
}

.suggesttext{
  float:left;
  width: calc(100% - 60px);
  margin-left: 5px;
  height: 50px;
}

.suggestsearch{
  width: calc(100% - 20px);
  margin-left: 10px;
  font-size: 14px;
  color: #dfe0e6;
  padding-top: 17px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.suggestname{
  font-size: 14px;
  color: #dfe0e6;
  margin-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.suggestname:only-child{
  margin-top: 17px;
}


.suggestextra{
  font-size: 12px;
  color: #88898c;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/*
  --------------------------------------------------------------
  CreatedHead
  --------------------------------------------------------------
*/


.createdhead{
  !height: 36px;
  width: calc(100% - 20px);
  !margin-left: 20px;
  padding-top: 9px;
  padding-left: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #222326;
}

.createdheadtext{
  color: #7c8979;
}

.createdheadtext span{
  color: #dfe0df;
}

.createdheadtext span:hover{
  cursor: pointer;
  text-decoration: underline;
}


/*
  --------------------------------------------------------------
  CurrentTrack Content
  --------------------------------------------------------------
*/

.currentimage.small{
  float:left;
  width: 50px;
  height: 50px;
}


.currentimage.big{
  width: 200px;
  height: 200px;
}

.currentcon.small{
  float:left;
  margin-left: 5px;
  width: 140px;
}

.currentcon.big{
  margin-left: 5px;
  width: 190px;
}

.currenttitle{
  color: #cff2da;
  width: 100%;
  margin-top: 7px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.currenttitle:hover{
  cursor: pointer;
  text-decoration: underline;
}

.currentartists{
  width: 100%;
  color: #dddddd;
  margin-top: 5px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.currentartist:hover{
  cursor: pointer;
  text-decoration: underline;
}

.currentresize.big{
  position: absolute;
  background-image: url("/images/minimize.png");
  width:24px;
  height:24px;
  top:5px;
  left: 171px;
  visibility: hidden;
}

.currentresize.small{
  position: absolute;
  background-image: url("/images/maximize.png");
  width:24px;
  height:24px;
  top:2px;
  left: 24px;
  visibility: hidden;
}

/*
  --------------------------------------------------------------
  Browse Content
  --------------------------------------------------------------
*/

.browsehead{
  width: 100%;
}

.browseheadtop{
  height: 240px;
  width: 100%;
  border-bottom: 1px solid #222326;
}

.browseimagecon{
  float:left;
  width: 200px;
  height: 200px;
  margin-left: 20px;
  margin-top: 20px;
}

.browseimage:only-child {
  width: 200px;
  height: 200px;
}

.browseimage:nth-child(1):nth-last-child(4),
.browseimage:nth-child(2):nth-last-child(3),
.browseimage:nth-child(3):nth-last-child(2),
.browseimage:nth-child(4):nth-last-child(1) {
    width: 100px;
    height: 100px;
}

.browsecon{
  float:left;
  margin-left: 20px;
  margin-top: 20px;
  width: calc(100% - 240px);
}

.browsetext{
  color: #84898c;
  font-size: 12px;
}

.browsename{
  margin-top: 10px;
  color: #dfe0e6;
  font-size: 40px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.browseplay{
  margin-top: 98px;
  width: 97px;
  height: 30px;
  background-color: #618f00;
  border-radius: 10px;
  border: none;
  color : #dfe0e6;
}

.browsemenu{
  margin-lefT: 10px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid #dfe0e6;
  border-radius: 15px;
  background-clip: content-box;
  color : #dfe0e6;
}

/*
  --------------------------------------------------------------
  playlistcard Content
  --------------------------------------------------------------
*/



.playlistcardview{
  float: left;
  margin-top: 10px;
  width: 180px;
  margin-left: 10px;
  background-color: #222326;
}

.playlistcardimagecon{
  width:180px;
  height: 180px;
}
.playlistcardimage:only-child {
  width: 180px;
  height: 180px;
}

.playlistcardimage:nth-child(1):nth-last-child(4),
.playlistcardimage:nth-child(2):nth-last-child(3),
.playlistcardimage:nth-child(3):nth-last-child(2),
.playlistcardimage:nth-child(4):nth-last-child(1) {
    width: 90px;
    height: 90px;
}


.playlistcardimage:hover{
  cursor: pointer;
}

.playlistcardtextcon{
  height: 90px;
  width: 180px;
}

.playlistcardname{
  height: 50px;
  margin-top: 10px;
  margin-left: 10px;
  width: 160px;
  color: #cff2da;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.playlistcardname:hover{
  cursor: pointer;
  text-decoration: underline;
}

.playlistcardtext{
  margin-top: 10px;
  margin-left: 10px;
  font-size: 14px;
  color: #949595;
}

/*
  --------------------------------------------------------------
  Artist Content
  --------------------------------------------------------------
*/

.artistappearsview{
  float: left;
  margin-top: 10px;
  width: 180px;
  margin-left: 10px;
  background-color: #222326;
}

.artistappearsimage{
  width: 180px;
  height: 180px;
}

.artistappearsimage:hover{
  cursor: pointer;
}

.artistappearstextcon{
  height: 90px;
  width: 180px;
}

.artistappearsname{
  height: 50px;
  margin-top: 10px;
  margin-left: 10px;
  width: 160px;
  color: #cff2da;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.artistappearsname:hover{
  cursor: pointer;
  text-decoration: underline;
}

.artistappearstext{
  margin-top: 10px;
  margin-left: 10px;
  font-size: 14px;
  color: #949595;
}

.artistalbumhead{
  margin-top: 10px;
  height: 120px;
  width: 100%;
}

.artistalbumimage {
  width: 100px;
  height: 100px;
  margin-left: 10px;
  margin-top: 10px;
  float:left;
}

.artistalbumcon{
  float:left;
  margin-left: 10px;
  margin-top: 10px;
  width: calc(100% - 120px);
}

.artistalbumtext{
  color: #84898c;
  font-size: 12px;
}

.artistalbumname{
  margin-top: 10px;
  color: #dfe0e6;
  font-size: 30px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.artistalbumname:hover{
  text-decoration: underline;
  cursor: pointer;
}

.artistalbumplay{
  margin-top: 12px;
  width: 97px;
  height: 30px;
  background-color: #618f00;
  border-radius: 10px;
  border: none;
  color : #dfe0e6;
}

.artistalbummenu{
  margin-left: 10px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid #dfe0e6;
  border-radius: 15px;
  background-clip: content-box;
  color : #dfe0e6;
}

.artistseparator{
  width: 100%;
  margin-top: 40px;
  border-bottom: 1px solid #222326;
}

#suggest .artistseparator:first-child{
  margin-top: 5px;
}

#suggest .artistseparator{
  margin-top: 10px;
}

#leftmenu .artistseparator{
  margin-top: 10px;
}



.queueview .artistseparator:first-child{
  margin-top: 0px;
}

.queueview .artistseparator{
  margin-top: 10px;
}

.mymusicview .artistseparator:first-child{
  margin-top: 0px;
}

.playlistcardview .artistseparator{
  margin-top: 10px;
}


.historyview .artistseparator{
  margin-top: 0px;
}

.toplistview .artistseparator{
  margin-top: 0px;
}

.artistseparatortext{
    margin-left: 10px;
    !margin-top: 40px;
    color: #84898c;
    font-size: 13px;
}
.artisttop{
  width: 100%;
  clear:both;
  overflow:auto;
}

.artisttoptracks{
  width: 70%;
  float:left;
}

.artistsimilar{
  margin-left:20px;
  width:calc(30% - 40px);
  float:left;
}

.artistsimilaritem{
    height: 50px;
    margin-top:5px;
    width:100%;
    background-color: #1c1c1f;
}
.artistsimilarimage{
  float:left;
  margin-left: 20px;
  margin-top: 14px;
  width: 22px;
  height: 22px;
}

.artistsimilarname{
  color:c6d9e6;
  float:left;
  margin-top: 18px;
  font-size: 14px;
  margin-left: 20px;
  width: calc(100% - 62px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.artistsimilaritem:hover{
  background-color: #1e1f22;
  cursor: pointer;
}

/*
  --------------------------------------------------------------
  Main Content
  --------------------------------------------------------------
*/

#bohnifycontainer {
  width:100%;
  height: 100%;
  background-color: #123123;
}

#header {
  position: absolute;
  background-color: #222326;
  height :37px;
  top: 0px;
  left : 0px;
  right: 0px;
}

#playtrack.small {
  position: absolute;
  bottom: 42px;
  left: 0px;
  height: 50px;
  width: 200px;
  border-top: 1px solid #393b40;
  background-color: #222326;
}

#playtrack.big {
  position: absolute;
  bottom: 42px;
  left: 0px;
  height: 250px;
  width: 200px;
  border-top: 1px solid #393b40;
  background-color: #222326;
}

#leftmenu.small {
  position: absolute;
  left: 0px;
  width : 200px;
  overflow-y: scroll;
  text-overflow: ellipsis;
  background-color: #222326;
  bottom :293px;
  top: 37px;
}

#leftmenu.big {
  position: absolute;
  left: 0px;
  width : 200px;
  overflow-y: scroll;
  text-overflow: ellipsis;
  background-color: #222326;
  bottom :93px;
  top: 37px;
}

#bottom{
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 41px;
  border-top: 1px solid #393b40;
  background-color: #222326;
}

#result{
  position: absolute;
  top: 37px;
  left: 200px;
  bottom: 42px;
  right: 0px;
  background-color: #111213;
  overflow-y: scroll;
  min-width: 400px;
}

.resultloader {
  width: 100%;
  height: 100%;
  background-repeat:no-repeat;
  background-position:center;
  background-image: url("/images/ajax-loader-result.gif");
}


/*
  --------------------------------------------------------------
  Track Content
  --------------------------------------------------------------
*/


.track td div{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #dbdce1;
  font-size: 14px;
}

.track.current td div{
    color: #ab11a9;
}

.trackindex{
  text-align: center;
}

.trackvote{
  text-align: center;
}

.trackduration{
  text-align: center;
}

.trackpopularity{
  text-align: center;
}

.track {
  color: #dbdce1;
  width: 100%;
  height: 40px;
}

.track td{
  border-bottom: 1px solid #222326;
  padding: 0px;
}



.track:hover{
  background-color: #1c1c1f;
}

.track.selected {
  background-color: #456434;
}

.track.passiveselected {
  background-color: #454545;
}

.trackpart{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.trackimage img{
  height: 37px;
  width: auto;
}

th:last-child{
  border-right:none;
}


table{
  border-spacing: 0px;
}

th{
  padding-top: 3px;
  padding-bottom: 3px;
  color: #dbdce1;
  text-align:left;
  border: none;
  border-bottom: 1px solid #222326;

}


.trackalbumtext:hover{
  text-decoration: underline;
  cursor: pointer;
}

.trackartist:hover{
  text-decoration: underline;
  cursor: pointer;
}



/*
  --------------------------------------------------------------
  Playlist Content
  --------------------------------------------------------------
*/

.playlistempty{
  width: 100%;
  text-align: center;
  font-size: 40px;
  margin-top: 50px;

}

.playlist{
width: 100%;
min-height: 30px;
}



.playlistitem{
  width: 100%;
  min-height: 30px;
  background-color: #222326;
}


.playlistitem.playlistitem{
  width: calc(100% - 10px);
  border-left:10px solid #222326;
  min-height: 30px;
  background-color: #222326;
}

.playlistfolder {
  width: 100%;
  min-height: 30px;
}


.folderminimize {
  margin-left: 20px;
  background-image: url("/images/folderminimize.png");
  background-repeat:no-repeat;
  width: 13px;
  height: 8px;
  margin-top: 11px;
  float: left;
}

.foldermaximize{
  margin-left: 20px;
  background-image: url("/images/foldermaximize.png");
  background-repeat:no-repeat;
  width: 13px;
  height: 7px;
  margin-top: 11px;
  float: left;
}

.playlistitem:hover {
  background-color: #323336;
}
.playlistitem.selected {
  background-color: #536535;
}

.playlistitem.passiveselected {
  background-color: #454545;
}


.playlistnote {
  margin-left: 20px;
  background-image: url("/images/playlist.png");
  width: 13px;
  height: 15px;
  margin-top: 7px;
  float: left;
}

.playlistname {
  float: left;
  margin-top: 6px;
  font-size: 14px;
  margin-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  color: #949595;
  width: calc(100% - 67px);
  text-overflow: ellipsis;
}

/*
  --------------------------------------------------------------
  Header Content
  --------------------------------------------------------------
*/

.head{
  float: left;
}

#headback {
  width: 8px;
  height: 12px;
  margin-left: 16px;
  margin-top: 13px;
}

#headback.disable{
  background-image: url("/images/back_dis.png");
}

#headback.active{
  background-image: url("/images/back_act.png");
}

#headfoward {
  width: 8px;
  height: 12px;
  margin-left: 20px;
  margin-top: 13px;
}

#headfoward.disable{
  background-image: url("/images/foward_dis.png");
}

#headfoward.active{
  background-image: url("/images/foward_act.png");
}

#search {
  background-color: #dfe0e6;
  border: none;
  width: 235px;
  margin-left: 19px;
  margin-top: 7px;
  border-radius: 12px;
  height: 24px;
}

#search:focus{
  outline: none;
}


/*
  --------------------------------------------------------------
  Controller Content
  --------------------------------------------------------------
*/

.controller{
  position: absolute;
}

#controllprev {
  left: 20px;
  top: 14px;
  width: 10px;
  height: 12px;
}

#controllprev.disable{
  background-image: url("/images/prev.png");
}

#controllprev.active{
  background-image: url("/images/prev.png");
}


#controllpause {
  left: 41px;
  top: 5px;
  width: 32px;
  height: 31px;
}

#controllpause.disable{
  background-image: url("/images/play.png");
}

#controllpause.active{
  background-image: url("/images/pause.png");
}

#controllnext {
  left: 84px;
  top: 14px;
  width: 10px;
  height: 12px;
}

#controllnext.disable{
  background-image: url("/images/next.png");
}

#controllnext.active{
  background-image: url("/images/next.png");
}

#controllvolume {
  left: 123px;
  top: 18px;
  width: 83px;
  background-color: #88898c;
}

#controllspeaker {
  left: 217px;
  top: 15px;
  width: 17px;
  height: 13px;
  background-image: url("/images/speaker.png");
}

#controlltime {
  left: 254px;
  top: 14px;
  font-size: 12px;
  color: #eaf2f1;
}

#controllposition {
  left: 297px;
  width: calc(100% - 450px);
  top: 18px;
  background-color: #3d3d3f;
}

#controllduration {
  right: 107px;
  top: 14px;
  font-size: 12px;
  color: #eaf2f1;
}


#controllparty{
  right: 80px;
  width: 20px;
  height: 20px;
  top: 11px;
  background-size: 20px 20px;
}

#controllparty.disable{
  background-image: url("/images/party_deact.png");
}

#controllparty.active{
  background-image: url("/images/party_act.png");
}

#controllshuffle{
  right: 51px;
  width: 20px;
  height: 20px;
  top: 11px;
  background-size: 20px 20px;
}

#controllshuffle.disable{
  background-image: url("/images/shuffle_deact.png");
}

#controllshuffle.active{
  background-image: url("/images/shuffle_act.png");
}

#controllrepeat{
  right: 22px;
  width: 20px;
  height: 20px;
  top: 11px;
  background-size: 20px 20px;
}

#controllrepeat.disable{
  background-image: url("/images/repeat_deact.png");
}

#controllrepeat.active{
  background-image: url("/images/repeat_act.png");
}

/*
  --------------------------------------------------------------
  Login Content
  --------------------------------------------------------------
*/

#logincon {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  background-color: #000000;
}

#logindiv{
  margin-top: 10%;
  width: 320px;
  height: 360px;
  background-color: #121314;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

#loginimage {
  width: 112px;
  height: 112px;
  background-image: url("/images/loginimage.png");
  margin-left: 104px;
}

#logintext{
  width: 112px;
  margin-left: 104px;
  text-align: center;
  color: #ffffff;
  margin-top: 20px;
  font-size: 20px;
}

#loginerror{
  width: 200px;
  margin-left: 60px;
  text-align: center;
  color: #ff0000;
  margin-top: 10px;
  font-size: 14px;
}

#loginprogress {
  width: 112px;
  height: 112px;
  margin-left: 104px;
  text-align: center;
  margin-top: 20px;
  background-repeat:no-repeat;
  background-position:center;
  background-image: url("/images/ajax-loader.gif");
}

#loginusername{
  width: 256px;
  margin-left: 32px;
  margin-top: 20px;
  height: 40px;
  padding-left: 20px;
  border-radius: 5px;
  border: none;
}
#loginpassword{
  width: 256px;
  margin-left: 32px;
  height: 40px;
  margin-top: 20px;
  padding-left: 20px;
  border-radius: 5px;
  border: none;
}

#loginbutton{
  margin-left: 191px;
  margin-top: 20px;
  width: 97px;
  height: 30px;
  background-color: #618f00;
  border-radius: 10px;
  border: none;
  color : #ffffff;
}

#loginusername:focus{
  outline: none;
}
#loginpassword:focus{
  outline: none;
}

#loginbutton:focus{
  outline: none;
}



/*
  --------------------------------------------------------------
  Slider
  --------------------------------------------------------------
*/

input[type="range"]{
  -webkit-appearance: none !important;
   height: 3px;
 }

input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance: none !important;
   width: 15px;
   height: 15px;
   background-image: url("/images/thumb_dis.png");
}

input[type="range"]::-webkit-slider-thumb:active{
   background-image: url("/images/thumb_act.png");
 }

input[type="range"]:focus {
  outline: none;
}

/*
  --------------------------------------------------------------
  Contextmenu
  --------------------------------------------------------------
*/



#contextmenu{
  position: absolute;
  background-color: #ffffff;


}

.contextitem{
  padding: 7px;
  border-bottom: 1px solid #ebebeb;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.contextitem:hover{
  background-color: #4a90d9;
}



/*
  --------------------------------------------------------------
  Scrollbar
  --------------------------------------------------------------
*/

::-webkit-scrollbar {
    width: 12px;
    background-color: #1c1c1f;
}



::-webkit-scrollbar-thumb {
    border: 2px solid transparent;
    border-radius: 6px;
    background-clip: content-box;
    background-color: #323438;
}
