body{
  width:100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}



/*
  --------------------------------------------------------------
  Main Content
  --------------------------------------------------------------
*/

#bohnifycontainer {
  width:100%;
  height: 100%;
  background-color: #123123;
}

#header {
  position: absolute;
  background-color: #222326;
  height :37px;
  top: 0px;
  left : 0px;
  right: 0px;
}

#leftmenu-small {
  position: absolute;
  left: 0px;
  width : 200px;
  overflow-y: scroll;
  text-overflow: ellipsis;
  background-color: #222326;
  bottom :293px;
  top: 37px;
}

.leftmenu-large {
  position: absolute;
  left: 0px;
  width : 200px;
  overflow-y: scroll;
  text-overflow: ellipsis;
  background-color: #222326;
  bottom :93px;
  top: 37px;
}

#bottom{
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 41px;
  border-top: 1px solid #393b40;
  background-color: #222326;
}

#result{
  position: absolute;
  top: 37px;
  left: 200px;
  bottom: 42px;
  right: 0px;
  background-color: #111213;
  overflow-y: scroll;
}

#playtrack {
  position: absolute;
  bottom: 42px;
  left: 0px;
  height: 50px;
  width: 200px;
  border-top: 1px solid #393b40;
  background-color: #222326;
}

/*
  --------------------------------------------------------------
  Track Content
  --------------------------------------------------------------
*/

.track {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #222326;
}


.track:hover{
  background-color: #1c1c1f;
}

.track.selected {
    background-color: #456434;
}

.track.passiveselected {
    background-color: #454545;
}



.tracktitle,
.trackartists,
.trackalbum,
.trackduration{
  margin-top: 14px;
  float:left;
  color: #dbdce1;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.tracktitle{
  margin-left: 10px;
  width: 30%;
}

.trackartists{
  margin-left: 10px;
  width: 30%;
}
.trackduration{
  margin-left: 10px;
  color: #cbcfe0;
}
.trackalbum{
  margin-left: 10px;
  width: 30%;
}

.trackalbum:hover{
  text-decoration: underline;
  cursor: pointer;
}

.trackartistsseparator{
  float:left;
}
.trackartist{
  float:left;

}

.trackartist:hover{
  float:left;
  text-decoration: underline;
  cursor: pointer;

}



/*
  --------------------------------------------------------------
  Playlist Content
  --------------------------------------------------------------
*/

.playlist {
  width: 100%;
  height: 30px;
}



.playlist:hover {
  background-color: #323336;
}
.playlist.selected {
  background-color: #878787;
}

.playlist.passiveselected {
  background-color: #454545;
}


.playlistnote {
  margin-left: 20px;
  background-image: url("/images/playlist.png");
  width: 13px;
  height: 15px;
  margin-top: 7px;
  float: left;
}

.playlistname {
  float: left;
  margin-top: 6px;
  font-size: 14px;
  margin-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  color: #949595;
  width: calc(100% - 67px);
  text-overflow: ellipsis;
}



/*
  --------------------------------------------------------------
  Header Content
  --------------------------------------------------------------
*/

.head{
  float: left;
}

#headback {
  width: 8px;
  height: 12px;
  margin-left: 16px;
  margin-top: 13px;
}

#headback.disable{
  background-image: url("/images/back_dis.png");
}

#headback.active{
  background-image: url("/images/back_act.png");
}

#headfoward {
  width: 8px;
  height: 12px;
  margin-left: 20px;
  margin-top: 13px;
}

#headfoward.disable{
  background-image: url("/images/foward_dis.png");
}

#headfoward.active{
  background-image: url("/images/foward_act.png");
}

#search {
  background-color: #dfe0e6;
  border: none;
  width: 235px;
  margin-left: 19px;
  margin-top: 7px;
  border-radius: 12px;
  height: 24px;
}

#search:focus{
  outline: none;
}


/*
  --------------------------------------------------------------
  Controller Content
  --------------------------------------------------------------
*/

.controller{
  position: absolute;
}

#controllprev {
  left: 20px;
  top: 14px;
  width: 10px;
  height: 12px;
}

#controllprev.disable{
  background-image: url("/images/prev.png");
}

#controllprev.active{
  background-image: url("/images/prev.png");
}


#controllpause {
  left: 41px;
  top: 5px;
  width: 32px;
  height: 31px;
}

#controllpause.disable{
  background-image: url("/images/play.png");
}

#controllpause.active{
  background-image: url("/images/pause.png");
}

#controllnext {
  left: 84px;
  top: 14px;
  width: 10px;
  height: 12px;
}

#controllnext.disable{
  background-image: url("/images/next.png");
}

#controllnext.active{
  background-image: url("/images/next.png");
}

#controllvolume {
  left: 123px;
  top: 18px;
  width: 83px;
  background-color: #88898c;
}

#controllspeaker {
  left: 217px;
  top: 15px;
  width: 17px;
  height: 13px;
  background-image: url("/images/speaker.png");
}

#controlltime {
  left: 254px;
  top: 14px;
  font-size: 12px;
  color: #eaf2f1;
}

#controllposition {
  left: 297px;
  width: calc(100% - 450px);
  top: 18px;
  background-color: #3d3d3f;
}

#controllduration {
  right: 107px;
  top: 14px;
  font-size: 12px;
  color: #eaf2f1;
}

#controllshuffle{
  right: 51px;
  width: 14px;
  height: 14px;
  top: 15px;
}

#controllshuffle.disable{
  background-image: url("/images/shuffle_dis.png");
}

#controllshuffle.active{
  background-image: url("/images/shuffle_act.png");
}

#controllrepeat{
  right: 22px;
  width: 14px;
  height: 14px;
  top: 15px;
}

#controllrepeat.disable{
  background-image: url("/images/repeat_dis.png");
}

#controllrepeat.active{
  background-image: url("/images/repeat_act.png");
}

/*
  --------------------------------------------------------------
  Login Content
  --------------------------------------------------------------
*/

#logincon {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  background-color: #000000;
}

#logindiv{
  margin-top: 10%;
  width: 320px;
  height: 360px;
  background-color: #121314;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

#loginimage {
  width: 112px;
  height: 112px;
  background-image: url("/images/loginimage.png");
  margin-left: 104px;
}

#logintext{
  width: 112px;
  margin-left: 104px;
  text-align: center;
  color: #ffffff;
  margin-top: 20px;
  font-size: 20px;
}

#loginerror{
  width: 200px;
  margin-left: 60px;
  text-align: center;
  color: #ff0000;
  margin-top: 10px;
  font-size: 14px;
}

#loginprogress {
  width: 112px;
  height: 112px;
  margin-left: 104px;
  text-align: center;
  margin-top: 20px;
  background-repeat:no-repeat;
  background-position:center;
  background-image: url("/images/ajax-loader.gif");
}

#loginusername{
  width: 256px;
  margin-left: 32px;
  margin-top: 20px;
  height: 40px;
  padding-left: 20px;
  border-radius: 5px;
  border: none;
}
#loginpassword{
  width: 256px;
  margin-left: 32px;
  height: 40px;
  margin-top: 20px;
  padding-left: 20px;
  border-radius: 5px;
  border: none;
}

#loginbutton{
  margin-left: 191px;
  margin-top: 20px;
  width: 97px;
  height: 30px;
  background-color: #618f00;
  border-radius: 10px;
  border: none;
  color : #ffffff;
}

#loginusername:focus{
  outline: none;
}
#loginpassword:focus{
  outline: none;
}

#loginbutton:focus{
  outline: none;
}



/*
  --------------------------------------------------------------
  Slider
  --------------------------------------------------------------
*/

input[type="range"]{
  -webkit-appearance: none !important;
   height: 3px;
 }

input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance: none !important;
   width: 15px;
   height: 15px;
   background-image: url("/images/thumb_dis.png");
}

input[type="range"]::-webkit-slider-thumb:active{
   background-image: url("/images/thumb_act.png");
 }

input[type="range"]:focus {
  outline: none;
}

/*
  --------------------------------------------------------------
  Scrollbar
  --------------------------------------------------------------
*/

::-webkit-scrollbar {
    width: 12px;
    background-color: #1c1c1f;
}



::-webkit-scrollbar-thumb {
    border: 2px solid transparent;
    border-radius: 6px;
    background-clip: content-box;
    background-color: #323438;
}
